<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container-fluid text-center divmn">
<div>
<h1 class="text-center">MENU</h1>
</div>
<!-- <img src=""> -->
<div class="container-fluid bg-dark design" >

    <div id="images">
        <a (click)="add()">
         <img src="assets/book.png" class="zoom myimage">
         <div class="caption mytext">ADD ITEM</div>
        </a>
        <a (click)="delete()">
         <img src="assets/file.png"class="zoom myimage">
         <div class="caption mytext">REMOVE ITEM</div>
        </a>
        <a (click)="display()">
         <img src="assets/search.png" class="zoom myimage">
         <div class="caption mytext">DISPLAY ITEM</div>
        </a>
        <a (click)="borrow()">
         <img src="assets/loan.png" class="zoom myimage">
         <div class="caption mytext">BORROW ITEM</div>
        </a>
    </div>
        
    <div id="images">
        <a (click)="return()">
         <img src="assets/return.png" class="zoom myimage">
         <div class="caption mytext">RETURN ITEM</div>
        </a>
        <a (click)="reader()">
         <img src="assets/reading.png" class="zoom myimage">
         <div class="caption mytext">READER</div>
        </a>
        <a (click)="report()">
         <img src="assets/report.png" class="zoom myimage">
         <div class="caption mytext">LIBRARY REPORT</div>
        </a>
        <a (click)="reserve()">
         <img src="assets/booking.png" class="zoom myimage">
         <div class="caption mytext">RESERVATION</div>
         </a>
         <a (click)="logout()">
            <img src="assets/log-out.png" class="zoom myimage">
            <div class="caption mytext">LOG-OUT</div>
            </a>
    </div>

</div>

</div>



