
<nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
  <!-- Brand/logo -->
  <div class="navbar-header">
    <a class="navbar-brand text-white"  routerLink="/Menu"><img src="assets/homepage.png" width="30" height="30" alt="">Home</a>
  </div>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/Additem">Add Item</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/Removeitem">Remove Item</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/Displayitem">Display Item</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/Borrowitem">Borrow Item</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"routerLink="/Returnitem">Return Item</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/AddReader" >Reader</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/Generatereport" >Generate Report</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/Reservation" >Reservation</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="nav-item"><a  class="nav-link"  routerLink="">LogOut</a></li>
  </ul>
</nav>
