<div class="container-fluid text-center col-md-4 col-md-offset-4">
  <h3>Delete Reader</h3>
  <form  [formGroup]="deleteform" (ngSubmit)="ondelete()">
    <div class="form-group">
      <label for="id">Reader ID</label>
      <input type="number" class="form-control" id="id" name="id"  formControlName="id">
    
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!deleteform.valid">Delete</button>
  </form>
  <div class="alert alert-info" *ngIf="warning">
    <strong>Reader :</strong> {{message}}
  </div>
</div>