<div class="container-fluid text-center col-md-8 col-md-offset-8">

  <div class="container text-center">
    <h4>Readers List</h4>
  <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Mobile Number</th>
        <th>Email</th>
      </tr>
      <tr  *ngFor="let item of ReaderArray">
       <td > {{item.getId()}}</td>
       <td> {{item.getName()}}</td>
       <td> {{item.getMobileNumber()}}</td>
       <td> {{item.getEmail()}}</td>
      </tr>
    </table>
  </div>
  </div>