<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container-fluid back cover-full">

  <div class="container-fluid">
    <div class="jumbotron bg-transparent text-center text-white">
    <h1>Westminster Library Management System</h1>
    </div>
    
    <div class="container-fluid col-4 cls ">
    <h2 class="text-white text-center">LogIn</h2>
    
    <form class="form" (ngSubmit)="submit(f)" #f="ngForm"> 
    <div class="form-group">
      <label for="usr" class="text-light">Name:</label>
      <input type="text" class="col-12 form-control" id="usr" name="username" [(ngModel)]="UserName" required>
    </div>

    <div class="form-group">
      <label for="pwd" class="text-light">Password:</label>
      <input type="password" class="col-12 form-control" id="pwd" name="password" [(ngModel)]="PassWord" required>
    </div>

    <div class="text-center">
    <button type="submit" class="btn btn-dark btn" [disabled]="!f.valid">Log In</button>
    </div>
  </form>
  
  <div class="alert alert-warning text-center"  *ngIf="!login">
    <strong>Warning!</strong> {{message}}
  </div>

</div>
</div>
</div>
